body {
  background-color: #e9ecef !important;
  font-family: 'Pompiere', cursive;
}

h1, h4, h5 {
  text-align: center;
  color: #212529 !important;
}

.btn-link,
.collapsed {
  text-decoration: none !important;
}

#jumbotron {
  background-color: #aaa;
}

#banner {
  margin-bottom: 50px;
}